###SF_LABEL### 用户组标签
###SF### 用户组
###USER_LINKS### 扩展链接
###USERNAME_LABEL### 用户名标签
<!--###TEMPLATE_LOGOUT###-->
<div class="login-box-success box">
		<div class="userinfo">
			<b>您好！###USERNAME###</b>

			欢迎登录内蒙古高校毕业生就业信息网!
		</div>
		<div class="actionlist clearfix">
			<b>快捷操作</b>
			###USER_LINKS###
		</div>
	
	<div class="logout">
		<form action="###ACTION_URI###" target="_top" method="post">
			<input type="submit" class="exit" name="submit" value="退出" />
			<input type="hidden" name="logintype" value="logout" />
			<input type="hidden" name="pid" value="###STORAGE_PID###" />
			<input type="hidden" name="###PREFIXID###[noredirect]" value="###NOREDIRECT###" />
		</form>
	</div>
</div>
<!--###TEMPLATE_LOGOUT###-->

